.container-fluid {
    height: 100px;
}

.container-fluid h1 {
    font-size: 70px;
}

.container-fluid h2 {
    font-size: 40px;
}

/*Displays the five day forecast on the same line using flexboxes*/
.fiveday-forecast {
    display: flex;
    align-items: center;
    margin: auto;
}